<li>
  {{fromIATA}} - {{toIATA}} {{#if roundTrip}} Round trip {{else}} One way {{/if}}
  <span class="float-right">
    <button class="btn btn-xs bg-dark-gray white delete" data-cid="{{cid}}"> &nbsp;Delete</button>
  <span>
</li>