<div class="view-question">Here are your flights</div>

<div id="ind-flight-list" class="list">
  <ul class="flight-list"></ul>
</div>	
		
<div class="form-element-container">
	<button id="add-flight" class="btn btn-sm bg-dark-gray white add"> &nbsp;Add another flight</button>
</div>