<div class="view-question">Enter your home energy usage</div>
		
		<!-------------- ELECTRICAL -------------->
		<div class="home-energy-label-container"><span class="big-label">Electricity:&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="display-error"></span></div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<input type="text" name="electricity_amount" class="long-numeric form-control" value="0" />
			</div>
		</div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<select name="electricity_unit" class="form-control">
					<option value="dollars">Dollars</option>
					<option value="kwh">kWh</option>
				</select>
			</div>
		</div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<select name="electricity_interval" class="form-control">
					<option value="month">per Month</option>
					<option value="year">per Year</option>
				</select>
			</div>
		</div>

	
		<!-------------- NATURAL GAS -------------->
		<div class="home-energy-label-container"><span class="big-label">Natural Gas:&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="display-error"></span></div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<input type="text" name="natural_gas_amount" class="long-numeric form-control" value="0" />
			</div>
		</div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<select name="natural_gas_unit" class="form-control">
					<option value="dollars">Dollars</option>
					<option value="cf">cf</option>
				</select>
			</div>
		</div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<select name="natural_gas_interval" class="form-control">
					<option value="month">per Month</option>
					<option value="year">per Year</option>
				</select>
			</div>
		</div>

	
		<!-------------- HEATING OIL -------------->
		<div class="home-energy-label-container"><span class="big-label">Heating Oil:&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="display-error"></span></div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<input type="text" name="heating_oil_amount" class="long-numeric form-control" value="0" />
			</div>
		</div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<select name="heating_oil_unit" class="form-control">
					<option value="dollars">Dollars</option>
					<option value="gallons">gallons</option>
				</select>
			</div>
		</div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<select name="heating_oil_interval" class="form-control">
					<option value="month">per Month</option>
					<option value="year">per Year</option>
				</select>
			</div>
		</div>

	
		<!-------------- PROPANE -------------->
		<div class="home-energy-label-container"><span class="big-label">Propane:&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="display-error"></span></div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<input type="text" name="propane_amount" class="long-numeric form-control" value="0" />
			</div>
		</div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<select name="propane_unit" class="form-control">
					<option value="dollars">Dollars</option>
					<option value="gallons">gallons</option>
				</select>
			</div>
		</div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<select name="propane_interval" class="form-control">
					<option value="month">per Month</option>
					<option value="year">per Year</option>
				</select>
			</div>
		</div>

	
		<!-------------- GASOLINE -------------->
		<div class="home-energy-label-container"><span class="big-label">Gasoline:&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="display-error"></span></div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<input type="text" name="gasoline_amount" class="long-numeric form-control" value="0" />
			</div>
		</div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<select name="gasoline_unit" class="form-control">
					<option value="dollars">Dollars</option>
					<option value="gallons">gallons</option>
				</select>
			</div>
		</div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<select name="gasoline_interval" class="form-control">
					<option value="month">per Month</option>
					<option value="year">per Year</option>
				</select>
			</div>
		</div>

	
		<!-------------- DIESEL -------------->
		<div class="home-energy-label-container"><span class="big-label">Diesel:&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="display-error"></span></div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<input type="text" name="diesel_amount" class="long-numeric form-control" value="0" />
			</div>
		</div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<select name="diesel_unit" class="form-control">
					<option value="dollars">Dollars</option>
					<option value="gallons">gallons</option>
				</select>
			</div>
		</div>

		<div class="form-element-container float-left third">
			<div class="form-element">
				<select name="diesel_interval" class="form-control">
					<option value="month">per Month</option>
					<option value="year">per Year</option>
				</select>
			</div>
		</div>
