<div class="view-question">Please provide your flight information</div>
		
			<div class="form-element-container">
				<label for="one_way_round_trip">One way or round trip:</label>
				<div class="form-element half float-left margin-bottom-20">
					<input type="radio" name="round_trip" value="false" />One Way Trip
				</div>
				<div class="form-element half float-left margin-bottom-20">
					<input type="radio" name="round_trip" value="true" checked="checked" />Round Trip
				</div>
			</div>

			<div class="clear"></div>

			<div class="form-element-container float-left half">
				<label for="from" data-error-msg="Enter the city or airport code for the point of origin" data-default-label="From:">From:</label>
				<div class="form-element">
					<input type="text" name="from" class="form-control" />
				</div>
			</div>

			<div class="form-element-container float-right half">
				<label for="to" data-error-msg="Enter the city or airport code for your point of the destination" data-default-label="To:">To:</label>
				<div class="form-element">
					<input type="text" name="to" class="form-control" />
				</div>
			</div>

