<div class="view-question">How would you like to calculate your flight travel?</div>	
	
	<div class="form-element-container padding-top-10">
		<div class="form-element">
			<input type="radio" name="method" value="miles" checked="checked" /><label for="method">By estimated number of miles travled</label>
		</div>

		<div class="form-element">
			<input type="radio" name="method" value="flights" /><label for="method">By number of flights</label>
		</div>

		<div class="form-element">
			<input type="radio" name="method" value="fuel" /><label for="method">By estimated gallons of fuel</label>
		</div>

		<div class="form-element">
			<input type="radio" name="method" value="length" /><label for="method">By estimated average trip length</label>
		</div>
	</div>

	<div class="form-element-container padding-top-10">
		<label>Would you like to use the Refractive Forcing Index?</label>
		<div class="form-element">
			<input type="radio" name="use_rfi" value="true" /><span class=""> Yes</span><br />
			<input type="radio" name="use_rfi" value="false" class=""/><span class=""> No</span>
		</div>
	</div>