<div class="view-question">Select a type of vehicle to add</div>
<form name="ind_vehicle_default_view">
	<div class="form-element-container">
		<label for="vehicle_type">Vehicle Type</label>
		<div class="form-element">
			<select id="vehicle-type" name="vehicle_type" class="form-control">
				<option selected="selected" value="car">Car</option>
				<option value="ecar">Electric Car</option>
				<option value="motorcycle">Motorcycle</option>
				<option value="boat">Boat</option>
			</select>
		</div>
	</div>
</form>
