<h2 id="you-total-graph-header" class="you-graph-header graph-header">Your Total <span class="summary-total">{{totalEmissions}} {{unitSymbol}} of CO2e</span></h2>
<div class="you-graph-header-container"></div>