<div class="view-question">Select a type of fleet vehicle to add</div>
		
		<form name="biz_fleet_type_view" id="biz-fleet-type">
		
			<div class="form-element-container">
				<label for="biz_fleet_type">Vehicle Type</label>
				<div class="form-element">
					<select class="form-control" name="biz_fleet_type">
						<option value="car">Cars</option>
						<option value="pickup">Pick-Ups / Vans / SUVs</option>
						<option value="delivery_truck">Delivery Trucks</option>
						<option value="semi">Semi - Trailer</option>
						<option value="boat">Boats</option>
						<option value="electric_car">Electric Cars</option>
						<option value="plane">Planes</option>
					</select>
				</div>
			</div>

		</form>