<div class="view-question">Tell us about the boats in your fleet</div>
		
		<form name="biz_fleet_details_plane_view" id="biz_fleet_details_plane">
			
			<div class="form-element-container">
				<label for="biz_fleet_plane_annual_fuel_gallons">Annual Gallons of Fuel</label>
				<div class="form-element">
					<input name="biz_fleet_plane_annual_fuel_gallons" class="form-control" value="0" maxlength="12" />
				</div>
			</div>

			<div class="form-element-container">
				<label for="biz_fleet_plane_rfi">Use RFI:</label>
				<div class="form-element margin-bottom-20">
					<input type="checkbox" name="biz_fleet_plane_rfi" value="one_way" />Yes
				</div>
			</div>

			<div class="form-element-container">
				<label for="biz_fleet_plane_quantity">Number of Planes in fleet</label>
				<div class="form-element">
					<input name="biz_fleet_plane_quantity" class="form-control" value="0" maxlenght="6" />
				</div>
			</div>

		</form>