<div class="view-question">Tell us about the boats in your fleet</div>
	
	<form name="biz_fleet_details_boat_view" id="biz_fleet_details_boat">
		
		<div class="form-element-container">
			<label for="year">Fuel type</label>
			<div class="form-element">
				<select name="biz_fleet_boat_fuel_type" class="form-control">
					<option value="diesel">Diesel</option>
					<option value="residual_fuel_oil">Residual Fuel Oil</option>
				</select>
			</div>
			<label for="year">Annual Gallons of Fuel</label>
			<div class="form-element">
				<input name="biz_fleet_boat_annual_fuel" class="form-control" value="0" maxlength="12" />
			</div>
		</div>

	</form>