<div class="view-question">Enter your business site energy usage</div>
		
		<form name="biz_site_energy_view" id="biz-site-energy">

			<!-------------- ELECTRICAL -------------->
			<div class="big-label">Electricity:</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<input type="text" name="biz_site_electricity" class="form-control" value="0" placeholder="units" />
				</div>
			</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<select name="biz_site_electrical_unit" class="form-control">
						<option value="dollars">Dollars</option>
						<option value="kwh">kWh</option>
					</select>
				</div>
			</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<select name="biz_site_electrical_interval" class="form-control">
						<option value="month">per Month</option>
						<option value="year">per Year</option>
					</select>
				</div>
			</div>

		
			<!-------------- NATURAL GAS -------------->
			<div class="big-label">Natural Gas:</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<input type="text" name="biz_site_natural_gas" class="form-control" value="0" placeholder="units" />
				</div>
			</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<select name="biz_site_natural_gas_unit" class="form-control">
						<option value="dollars">Dollars</option>
						<option value="cf">cf</option>
					</select>
				</div>
			</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<select name="biz_site_natural_gas" class="form-control">
						<option value="month">per Month</option>
						<option value="year">per Year</option>
					</select>
				</div>
			</div>

		
			<!-------------- HEATING OIL -------------->
			<div class="big-label">Heating Oil:</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<input type="text" name="biz_site_heating_oil" class="form-control" value="0" placeholder="units" />
				</div>
			</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<select name="biz_site_heating_oil_unit" class="form-control">
						<option value="dollars">Dollars</option>
						<option value="gallons">gallons</option>
					</select>
				</div>
			</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<select name="biz_site_heating_oil_interval" class="form-control">
						<option value="month">per Month</option>
						<option value="year">per Year</option>
					</select>
				</div>
			</div>

		
			<!-------------- PROPANE -------------->
			<div class="big-label">Propane:</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<input type="text" name="biz_site_propane" class="form-control" value="0" placeholder="units" />
				</div>
			</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<select name="biz_site_propane_unit" class="form-control">
						<option value="dollars">Dollars</option>
						<option value="gallons">gallons</option>
					</select>
				</div>
			</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<select name="biz_site_propane_interval" class="form-control">
						<option value="month">per Month</option>
						<option value="year">per Year</option>
					</select>
				</div>
			</div>

		
			<!-------------- GASOLINE -------------->
			<div class="big-label">Gasoline:</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<input type="text" name="biz_site_gasoline" class="form-control" value="0" placeholder="units" />
				</div>
			</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<select name="biz_site_gasoline_unit" class="form-control">
						<option value="dollars">Dollars</option>
						<option value="gallons">gallons</option>
					</select>
				</div>
			</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<select name="biz_site_gasoline_interval" class="form-control">
						<option value="month">per Month</option>
						<option value="year">per Year</option>
					</select>
				</div>
			</div>

		
			<!-------------- DIESEL -------------->
			<div class="big-label">Diesel:</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<input type="text" name="biz_site_diesel" class="form-control" value="0" placeholder="units" />
				</div>
			</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<select name="biz_site_diesel_unit" class="form-control">
						<option value="dollars">Dollars</option>
						<option value="gallons">gallons</option>
					</select>
				</div>
			</div>

			<div class="form-element-container float-left third">
				<div class="form-element">
					<select name="biz_site_diesel_interval" class="form-control">
						<option value="month">per Month</option>
						<option value="year">per Year</option>
					</select>
				</div>
			</div>

		</form>