<div class="view-question">Let's find out about your business site energy usage</div>
		
		<form name="biz_site_view" id="biz-site">
		
			<div class="form-element-container">
				<label for="biz_site_zip">Enter your zip code:</label>
				<div class="form-element">
					<input type="text" name="biz_site_zip" class="form-control" />
				</div>
			</div>
		</form>