<div class="view-question">To calculate metric tons of emissions from freight shipping, pelase enter the following values</div>
		<form name="biz_shipping_view" id="biz_shipping">
			<div class="form-element-container">
				<label for="biz_shipping_shipments">Number of annual shipments</label>
				<div class="form-element">
					<input name="biz_shipping_shipments" class="form-control" value="0" maxlength="12" />
				</div>
			</div>

			<div class="form-element-container">
				<label for="biz_shipping_distance">Average shipping distance</label>
				<div class="form-element">
					<input name="biz_shipping_distance" class="form-control" value="0" maxlength="12" />
				</div>
			</div>

			<div class="form-element-container">
				<label for="biz_shipping_weight">Average weight of shipments (lbs)</label>
				<div class="form-element">
					<input name="biz_shipping_weight" class="form-control" value="0" maxlenght="15" />
				</div>
			</div>

		</form>
