<h2>Your Emissions <span class="summary-total"><a href="">See results in mT</a></span></h2>
<div class="offset">
{{!--   <div class="offset-category">
    <div class="btn btn-default btn-circle-12 bg-peach inline-block"></div><div class="offset-category-title">Vehicle:</div>
    <div class="offset-category-amount">1,270 lbs CO2e/yr</div>
  </div>
  <div class="offset-category">
    <div class="btn btn-default btn-circle-12 bg-green inline-block"></div><div class="offset-category-title">Public Transit:</div>
    <div class="offset-category-amount">1,270 lbs CO2e/yr</div>
  </div>
  <div class="offset-category">
    <div class="btn btn-default btn-circle-12 bg-dark-blue inline-block"></div><div class="offset-category-title">Travel:</div>
    <div class="offset-category-amount">1,270 lbs CO2e/yr</div>
  </div>
  <div class="offset-category">
    <div class="btn btn-default btn-circle-12 bg-light-blue inline-block"></div><div class="offset-category-title">Home Energy:</div>
    <div class="offset-category-amount">1,270 lbs CO2e/yr</div>
  </div> --}}
</div>