<div class="view-question">Add some information about attendee accommodations</div>
	
	<form name="evt_travel_hotel_view" id="evt_travel_hotel">

		<div class="form-element-container">
			<label for="evt_travel_hotel_zip">Zip Code</label>
			<div class="form-element">
				<input name="evt_travel_hotel_zip" class="form-control" maxlength="11" />
			</div>
		</div>
		
		<div class="form-element-container">
			<label for="evt_travel_hotel_attendees">Number of attendees staying at hotels</label>
			<div class="form-element">
				<input name="evt_travel_hotel_attendees" value="0" class="form-control" maxlength="6" />
			</div>
		</div>
		
		<div class="form-element-container">
			<label for="evt_travel_hotel_nights">Number of nights, on average</label>
			<div class="form-element">
				<input name="evt_travel_hotel_nights" value="0" class="form-control" maxlength="3" />
			</div>
		</div>

	</form>
