<div class="view-question">Let's capture the carbon footprint of the bottled water used at your event</div>
		
		<form name="evt_water_view" id="evt_water">
			<div class="form-element-container">
				<label for="evt_water_bottles">Estimated water bottles used</label>
				<div class="form-element">
					<input name="evt_water_bottles" value="0" class="form-control" maxlength="12" />
				</div>
			</div>
		</form>
