<div class="left"><button type="button" class="btn btn-prev btn-lg {{calculatorSlug}}-{{categorySlug}}-bg">Prev</button></div>
<div class="right"><button type="button" class="btn btn-next btn-lg {{calculatorSlug}}-{{categorySlug}}-bg">Next</button></div>
