<h2>You <span class="summary-total">{{totalEmissions}} lbs of CO2e/yr</span></h2>
<div class="you-table">
  <table cellspacing="0" cellpadding="0" width="100%" border="0">
    <tr class="graph">
    </tr>
  </table>
</div>
