<h1>
<div class="header-first-line">{{calculatorDisplayName}}</div> 
<span class="{{calculatorSlug}}-{{categorySlug}}-color">{{categoryDisplayName}}</span>
<a href="#" class="help-info" data-toggle="modal" data-target="#helpModal"><span class="info_15 help"></span></a>
</h1>



