



  <!-- Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Our Methodology</h4>
      </div>
      <div class="modal-body">
        


        <section>
          <a name="topic1"></a>
          <div class="topic">This is a sample topic.</div>
          <div class="detail">Mauris vestibulum, massa sit amet venenatis molestie, tortor eros ultrices purus, sed lacinia ipsum diam vel augue. Sed erat orci, semper non ipsum ut, cursus eleifend risus.</div>
        </section>
        <section>
          <a name="topic2"></a>
          <div class="topic">This is another sample topic.</div>
          <div class="detail">Mauris vestibulum, massa sit amet venenatis molestie, tortor eros ultrices purus, sed lacinia ipsum diam vel augue. Sed erat orci, semper non ipsum ut, cursus eleifend risus.</div>
        </section>
        <section>
          <a name="topic3"></a>
          <div class="topic">Topic example number 3</div>
          <div class="detail">Mauris vestibulum, massa sit amet venenatis molestie, tortor eros ultrices purus, sed lacinia ipsum diam vel augue. Sed erat orci, semper non ipsum ut, cursus eleifend risus.</div>
        </section>
        <section>
          <a name="topic4"></a>
          <div class="topic">Topic example number 3</div>
          <div class="detail">Mauris vestibulum, massa sit amet venenatis molestie, tortor eros ultrices purus, sed lacinia ipsum diam vel augue. Sed erat orci, semper non ipsum ut, cursus eleifend risus.</div>
        </section>
        <section>
          <a name="topic5"></a>
          <div class="topic">Topic example number 3</div>
          <div class="detail">Mauris vestibulum, massa sit amet venenatis molestie, tortor eros ultrices purus, sed lacinia ipsum diam vel augue. Sed erat orci, semper non ipsum ut, cursus eleifend risus.</div>
        </section>


        <section>
          <a name="topic1"></a>
          <div class="topic">This is a sample topic.</div>
          <div class="detail">Mauris vestibulum, massa sit amet venenatis molestie, tortor eros ultrices purus, sed lacinia ipsum diam vel augue. Sed erat orci, semper non ipsum ut, cursus eleifend risus.</div>
        </section>
        <section>
          <a name="topic2"></a>
          <div class="topic">This is another sample topic.</div>
          <div class="detail">Mauris vestibulum, massa sit amet venenatis molestie, tortor eros ultrices purus, sed lacinia ipsum diam vel augue. Sed erat orci, semper non ipsum ut, cursus eleifend risus.</div>
        </section>
        <section>
          <a name="topic3"></a>
          <div class="topic">Topic example number 3</div>
          <div class="detail">Mauris vestibulum, massa sit amet venenatis molestie, tortor eros ultrices purus, sed lacinia ipsum diam vel augue. Sed erat orci, semper non ipsum ut, cursus eleifend risus.</div>
        </section>
        <section>
          <a name="topic4"></a>
          <div class="topic">Topic example number 3</div>
          <div class="detail">Mauris vestibulum, massa sit amet venenatis molestie, tortor eros ultrices purus, sed lacinia ipsum diam vel augue. Sed erat orci, semper non ipsum ut, cursus eleifend risus.</div>
        </section>
        <section>
          <a name="topic5"></a>
          <div class="topic">Topic example number 3</div>
          <div class="detail">Mauris vestibulum, massa sit amet venenatis molestie, tortor eros ultrices purus, sed lacinia ipsum diam vel augue. Sed erat orci, semper non ipsum ut, cursus eleifend risus.</div>
        </section>


      </div>
      <div class="modal-footer">
        {{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
      </div>
    </div>
  </div>
</div>