<div class="view-question">What kind of car do you drive?</div>
  <div data-region="year"></div>
  <div data-region="make"></div>
  <div data-region="model"></div>
	<div class="form-element-container mileage-select-container">
		<label for="car_mileage" data-error-msg="Select the annual mileage" data-default-label="Annual Mileage">Annual Mileage</label>
		<div class="form-element">
			<select id="mileage" name="car_mileage" class="form-control">
				<option value="">Select Annual Mileage</option>	
				<option value="2000">2,000</option>
				<option value="3000">3,000</option>
				<option value="4000">4,000</option>
				<option value="5000">5,000</option>
				<option value="7000">7,000</option>
				<option value="10000" selected="selected">10,000</option>
				<option value="12000">12,000</option>
				<option value="15000">15,000</option>
				<option value="20000">20,000</option>
				<option value="25000">25,000</option>
				<option value="30000">30,000</option>
				<option value="40000">40,000</option>
				<option value="50000">50,000</option>
				<option value="60000">60,000</option>
				<option value="70000">70,000</option>
				<option value="80000">80,000</option>
				<option value="90000">90,000</option>
				<option value="100000">100,000</option>
			</select>
		</div>
	</div>