<div class="view-question">Add your annual air travel fuel usage</div>
				
			<div class="form-element-container">
				<label for="fuel_gallons" data-error-msg="How many gallons of fuel do you use in a year?" data-default-label="How many gallons of fuel do you use in a year?">How many gallons of fuel did you use in a year?</label>
				<div class="form-element">
					<input type="text" name="fuel_gallons" class="form-control" />
				</div>
			</div>
			<div>
				<label for="fuel_type">What type of fuel do you use?</label>
				<div class="form-element">
					<select name="fuel_type" class="form-control">
						<option value="jet_fuel">Jet Fuel</option>
						<option value="Aviation Gasoline">Aviation Gasoline</option>
					</select>
				</div>
			</div>
