<div class="view-question">Enter the number of miles you've traveled over the following flight lengths</div>
    <form name="ind_travel_flight_miles_view" id="ind-travel-flight-miles">
      <label>Short Flights ( <span class="dark-gray">&lt; 2 hours</span> )</label>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="ind_travel_short_flight_miles" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
          miles in all seating classes 
        </div>
      </div>
      <label>Medium Flights ( <span class="dark-gray">between 2-4 hours</span> )</label>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="ind_travel_medium_economy_miles" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
          miles in Economy Class
        </div>
      </div>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="ind_travel_medium_business_miles" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
          miles in Business/First Class
        </div>
      </div>
      <label>Long Flights ( <span class="dark-gray">&gt; 4 hours</span> )</label>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="ind_travel_long_economy_miles" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
          miles in Economy Class
        </div>
      </div>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="ind_travel_long_economy_plus_miles" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
          miles in Economy+ Class
        </div>
      </div>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="ind_travel_long_business_miles" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
          miles in Business Class
        </div>
      </div>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="ind_travel_long_first_class_miles" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
          miles in First Class
        </div>
      </div>
    </form>
