<div class="view-question">Here is your list of vehicles</div>
		
<div id="ind-vehicle-list" class="list">
  <ul class="vehicle-list"></ul>
</div>		
<label for="ind_vehicle_type">Add another vehicle</label>
	<div class="form-group">
		<select class="form-control" name="ind_vehicle_type">
			<option value="car">Car</option>
			<option value="ecar">Electric Car</option>
			<option value="motorcycle">Motorcyle</option>
			<option value="boat">Boat</option>
		</select>
	</div>
<div class="form-element-container">
	<button id="add-vehicle" class="btn btn-sm bg-dark-gray white add"> &nbsp;Add another vehicle</button>
</div>
