<div class="view-question">Enter the number of flights you've taken over the following lengths</div>
		
		<form name="ind_travel_flight_length_view" id="ind-travel-flight-length">
		
			<label>Short Flights ( <span class="dark-gray">&lt; 2 hours</span> )</label>
			<div class="form-element-container">
				<div class="form-element">
					<input type="text" name="ind_travel_short_flights" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
					Short flights across all seating classes
				</div>
			</div>
		
			<label>Medium Flights ( <span class="dark-gray">2-4 hours</span> )</label>
			<div class="form-element-container">
				<div class="form-element">
					<input type="text" name="ind_travel_medium_flights_economy" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
					Economy Class
				</div>
			</div>
			<div class="form-element-container">
				<div class="form-element">
					<input type="text" name="ind_travel_medium_flights_business" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
					First/Business Class
				</div>
			</div>

			<label>Long Flights ( <span class="dark-gray">&gt; 4 hours</span> )</label>
			<div class="form-element-container">
				<div class="form-element">
					<input type="text" name="ind_travel_long_flights_economy" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
					Economy Class
				</div>
			</div>
			<div class="form-element-container">
				<div class="form-element">
					<input type="text" name="ind_travel_long_flights_economy_plus" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
					Economy+ Class
				</div>
			</div>
			<div class="form-element-container">
				<div class="form-element">
					<input type="text" name="ind_travel_long_flights_business" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
					Business Class
				</div>
			</div>
			<div class="form-element-container">
				<div class="form-element">
					<input type="text" name="ind_travel_long_flights_first" value="0" size="4" max="3" class="inline-block numeric text-right form-control" />&nbsp;
					First Class
				</div>
			</div>

		</form>