Ind Vehicle Boat Template
<div class="view-question">Tell us about your boat</div>
		
		<form name="ind_vehicle_boat_view" id="ind-vehicle-boat">
		
			<div class="form-element-container">
				<label for="ind_vehicle_boat_fuel_quantity">How many gallons of gas did you use in a year?</label>
				<div class="form-element">
					<input type="text" name="ind_vehicle_boat_fuel_quantity" class="form-control" />
				</div>
				<label for="ind_vehicle_boat_fuel_type">What type of fuel do you use?</label>
				<div class="form-element">
					<select name="ind_vehicle_boat_fuel_type" class="form-control">
						<option value="gasoline">Gasoline</option>
						<option value="diesel">Diesel</option>
						<option value="biodiesel_b20">Biodiesel (B20)</option>
						<option value="biodiesel_b100">Biodiesel (B100)</option>
						<option value="cng">Compressed Natural Gas</option>
						<option value="e85_ethanol">E85 Ethanol</option>
					</select>
				</div>
			</div>

		</form>

