<div class="view-question">Select a type of vehicle to add</div>
  <!-- Modal -->
<div class="modal fade" id="contextualModal" tabindex="-1" role="dialog" aria-labelledby="contextualModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="contextualModalLabel">Our Methodology</h4>
      </div>
      <div class="modal-body">

        <section>
          <a name="topic1"></a>
          <div class="topic">This is a sample topic.</div>
          <div class="detail">Mauris vestibulum, massa sit amet venenatis molestie, tortor eros ultrices purus, sed lacinia ipsum diam vel augue. Sed erat orci, semper non ipsum ut, cursus eleifend risus.</div>
        </section>

      </div>
      <div class="modal-footer">
        {{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
      </div>
    </div>
  </div>
</div>

<form name="ind_vehicle_default_view">
	<div class="form-element-container">
		<label for="vehicle_type">Vehicle Type</label>
		<div class="form-element">
			<select id="vehicle-type" name="vehicle_type" class="form-control">
				<option selected="selected" value="car">Car</option>
				<option value="ecar">Electric Car</option>
				<option value="motorcycle">Motorcycle</option>
				<option value="boat">Boat</option>
			</select>
		</div>
	</div>
</form>
