<div class="view-question">Tell us what you know about your vehicle</div>
	{{!-- <form name="ind_vehicle_class_view" id="ind-vehicle-class"> --}}
		<div class="form-element-container">
			<label for="vehicle_class" data-error-msg="Choose a description" data-default-label="How would you describe your vehicle?">How would you describe your vehicle?</label>
			<div class="form-element">
				<select name="vehicle_class" class="form-control">
					<option value="car">Car</option>
					<option value="truck">Truck</option>
					<option value="suv">SUV</option>
					<option value="van">Van</option>
				</select>
			</div>
		</div>
		<div class="form-element-container">	
			<label for="fuel_type" data-error-msg="What type of fuel do you use?" data-default-label="What type of fuel do you use?">What type of fuel do you use?</label>
			<div class="form-element">
				<select name="fuel_type" class="form-control">
					<option value="gasoline">Gasoline</option>
					<option value="diesel">Diesel</option>
					<option value="biodiesel_b20">Biodiesel (B20)</option>
					<option value="biodiesel_b100">Biodiesel (B100)</option>
					<option value="cng">Compressed Natural Gas</option>
					<option value="e85_ethanol">E85 Ethanol</option>
				</select>
			</div>
		</div>
		<div class="form-element-container">
			<label for="mileage"data-error-msg="How many miles do you drive this car in a year?" data-default-label="Annual Mileage:">Annual Mileage</label>
			<div class="form-element">
				<select name="mileage" class="form-control">
					<option value="" selected="selected">Select Annual Mileage</option>	
					<option value="2000">2,000</option>
					<option value="3000">3,000</option>
					<option value="4000">4,000</option>
					<option value="5000">5,000</option>
					<option value="7000">7,000</option>
					<option value="10000">10,000</option>
					<option value="12000">12,000</option>
					<option value="15000">15,000</option>
					<option value="20000">20,000</option>
					<option value="25000">25,000</option>
					<option value="30000">30,000</option>
					<option value="40000">40,000</option>
					<option value="50000">50,000</option>
					<option value="60000">60,000</option>
					<option value="70000">70,000</option>
					<option value="80000">80,000</option>
					<option value="90000">90,000</option>
					<option value="100000">100,000</option>
				</select>
			</div>
		</div>
	{{!-- </form> --}}