Ind Air Default Template
<div class="view-question">How would you like to calculate your flight travel?</div>	
<form name="ind_travel_view" id="ind-travel-view">
	<div class="form-element-container padding-top-10">
		<div class="form-element">
			<input type="radio" name="ind_travel_estimate_type" value="miles" /><label for="ind_travel_estimate_type">By number of miles</label>
		</div>
	</div>

	<div class="form-element-container">
		<div class="form-element">
			<input type="radio" name="ind_travel_estimate_type" value="flights" /><label for="ind_travel_estimate_type">By number of flights</label>
		</div>
	</div>

	<div class="form-element-container">
		<div class="form-element">
			<input type="radio" name="ind_travel_estimate_type" value="fuel" /><label for="ind_travel_estimate_type">By gallons of fuel</label>
		</div>
	</div>

	<div class="form-element-container">
		<div class="form-element">
			<input type="radio" name="ind_travel_estimate_type" value="trip" /><label for="ind_travel_estimate_type">By trip</label>
		</div>
	</div>

	<div class="form-element-container padding-top-10">
		<label>Would you like to use the Refractive Forcing Index?</label>
		<div class="form-element">
			<input type="radio" name="ind_travel_use_rfi" value="1" /><span class=""> Yes</span><br />
			<input type="radio" name="ind_travel_use_rfi" value="0" checked="checked" class="" /><span class=""> No</span>
		</div>
	</div>
</form>