<div class="view-question">Enter the number of miles you've traveled over the following flight lengths</div>
      <label>Short Flights ( <span class="dark-gray">&lt; 2 hours</span> )</label>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="short" value="0" size="4" max="3" class="inline-block long-numeric text-right form-control" />&nbsp;
          miles in all seating classes 
        </div>
      </div>
      <label>Medium Flights ( <span class="dark-gray">between 2-4 hours</span> )</label>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="med_econ" value="0" size="4" max="3" class="inline-block long-numeric text-right form-control" />&nbsp;
          miles in Economy Class
        </div>
      </div>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="med_first_class" value="0" size="4" max="3" class="inline-block long-numeric text-right form-control" />&nbsp;
          miles in Business/First Class
        </div>
      </div>
      <label>Long Flights ( <span class="dark-gray">&gt; 4 hours</span> )</label>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="long_econ" value="0" size="4" max="3" class="inline-block long-numeric text-right form-control" />&nbsp;
          miles in Economy Class
        </div>
      </div>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="long_econ_plus" value="0" size="4" max="3" class="inline-block long-numeric text-right form-control" />&nbsp;
          miles in Economy+ Class
        </div>
      </div>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="long_biz_class" value="0" size="4" max="3" class="inline-block long-numeric text-right form-control" />&nbsp;
          miles in Business Class
        </div>
      </div>
      <div class="form-element-container">
        <div class="form-element">
          <input type="text" name="long_first_class" value="0" size="4" max="3" class="inline-block long-numeric text-right form-control" />&nbsp;
          miles in First Class
        </div>
      </div>
