<div class="view-question">Tell us about your vehicle's options</div>
		<form name="ind_vehicle_options_view" id="ind-vehicle-options">
			<div class="form-element-container">
				<label for="ind_vehicle_options_transmission">Transmission</label>
				<div class="form-element">
					<select name="ind_vehicle_options_transmission" class="form-control">
						<option value="automatic">Automatic</option>
						<option value="manual">Manual</option>
					</select>
				</div>
				<label for="ind_vehicle_fuel_type">Fuel Type</label>
				<div class="form-element">
					<select name="ind_vehicle_fuel_type" class="form-control">
						<option value="gasoline">Gasoline</option>
						<option value="diesel">Diesel</option>
						<option value="biodiesel_b20">Biodiesel (B20)</option>
						<option value="biodiesel_b100">Biodiesel (B100)</option>
						<option value="cng">Compressed Natural Gas</option>
						<option value="e85_ethanol">E85 Ethanol</option>
					</select>
				</div>
			</div>
		</form>