<div class="view-question">Tell us about your boat</div>
		{{!-- <form name="ind_vehicle_boat_view" id="ind-vehicle-boat"> --}}
			<div class="form-element-container">
				<label for="boat_fuel_qty" data-default-label="How many gallons of gas did you use in a year?">How many gallons of gas did you use in a year?</label>
				<div class="form-element">
					<input type="text" name="boat_fuel_qty" class="form-control" />
				</div>
			</div>
			<div class="form-element-container">
				<label for="boat_fuel_type" data-default-label="What type of fuel do you use?">What type of fuel do you use?</label>
				<div class="form-element">
					<select name="boat_fuel_type" class="form-control">
						<option value="gasoline">Gasoline</option>
						<option value="diesel">Diesel</option>
						<option value="biodiesel_b20">Biodiesel (B20)</option>
						<option value="biodiesel_b100">Biodiesel (B100)</option>
						<option value="cng">Compressed Natural Gas</option>
						<option value="e85_ethanol">E85 Ethanol</option>
					</select>
				</div>
			</div>
		{{!-- </form> --}}

