<div class="view-question">Here are your flights</div>

{{!-- <div id="ind-travel-list" class="list">
	<ul>
		<li>SFO - ATL round trip 1 stop
			<span class="float-right">
				<!--i class="glyphicon glyphicon-pencil"></i-->
				<button class="btn btn-xs bg-dark-gray white edit"> &nbsp;Edit</button>
				<button class="btn btn-xs bg-dark-gray white delete"> &nbsp;Delete</button>
			</span>
		</li>
		<li>OAK - HOU round trip non-stop
			<span class="float-right">
				<button class="btn btn-xs bg-dark-gray white edit"> &nbsp;Edit</button>
				<button class="btn btn-xs bg-dark-gray white delete"> &nbsp;Delete</button>
			<span>
		</li>
		<li>SFO - LON one way 3 stops
			<span class="float-right">
				<button class="btn btn-xs bg-dark-gray white edit"> &nbsp;Edit</button>
				<button class="btn btn-xs bg-dark-gray white delete"> &nbsp;Delete</button>
			<span>
		</li>
	</ul>
</div> --}}

<div id="ind-flight-list" class="list">
  <ul class="flight-list"></ul>
</div>	
		
<div class="form-element-container">
	<button id="add-flight" class="btn btn-sm bg-dark-gray white add"> &nbsp;Add another flight</button>
</div>