<div class="view-question">Please provide your flight information</div>
		
			<div class="form-element-container">
				<label for="one_way_round_trip">One way or round trip:</label>
				<!--div class="form-element">
					<select name="flights_trip" class="form-control">
						<option value="one_way">One Way Trip</option>
						<option value="round_trip">Round Trip</option>
					</select>
				</div-->
				<div class="form-element half float-left margin-bottom-20">
					<input type="radio" name="one_way_round_trip" value="one_way" />One Way Trip
				</div>
				<div class="form-element half float-left margin-bottom-20">
					<input type="radio" name="one_way_round_trip" value="round_trip" checked="checked" />Round Trip
				</div>
			</div>

			<div class="clear"></div>

			<div class="form-element-container float-left half">
				<label for="from">From:</label>
				<div class="form-element">
					<input type="text" name="from" class="form-control" />
				</div>
			</div>

			<div class="form-element-container float-right half">
				<label for="to">To:</label>
				<div class="form-element">
					<input type="text" name="to" class="form-control" />
				</div>
			</div>

