<div class="view-question">Let's find out about your home energy usage</div>	
	<form name="ind_home_view" id="ind-home">
		<div class="form-element-container">
			<label for="ind_home_zip">Enter your zip code:</label>
			<div class="form-element">
				<input type="text" name="ind_home_zip" class="form-control" />
			</div>
		</div>
	</form>