<div class="view-question">Here is your list of vehicles</div>
		
		<div id="ind-vehicle-list" class="list">
		  <ul class="vehicle-list"></ul>
		</div>		
		{{!-- <form class="form-inline" role="form" name="ind_vehicle_list_view" id="ind-vehicle-list"> --}}
				<label for="ind_vehicle_type">Add another vehicle</label>
					<div class="form-group">
						<select class="form-control" name="ind_vehicle_type">
							<option value="car">Car</option>
							<option value="ecar">Electric Car</option>
							<option value="motorcycle">Motorcyle</option>
							<option value="boat">Boat</option>
						</select>
					</div>
				<div class="form-group">
		        <button id="add-vehicle" class="btn btn-default">Add</button>
		    </div>
		{{!-- </form> --}}