<div id="calculator-container">
	<div id="col-nav" data-region="menu">
	</div>

	<div id="col-content">
		<header data-region="header">Header Goes Here</header>
		<div data-region="input">Inputs Go Here</div>
		<footer data-region="footer">Footer Goes Here</footer>
	</div>

</div>