<section id="main">
  <header data-region="header">Header Goes Here</header>
  <nav data-region="menu">Menu Goes Here</nav>
  <div data-region="input">Inputs Go Here</div>
  <footer data-region="footer">Footer Goes Here</footer>
</section>
<section data-region="dashboard-region" id="dashboard">Dashboard Goes Here</section>