<h1>Mobile?</h1>
<section id="main">
  <header data-region="header"></header>
  <nav data-region="menu"></nav>
  <div data-region="input"></div>
  <footer data-region="footer"></footer>
</section>
<section data-region="dashboard-region" id="dashboard"></section>