<h1><div class="header-first-line">Your Carbon</div> <span class="dark-gray">Dashboard</span></h1>

<h2>U.S. Average<!--a href="#help" class="help-info"><span class="info help"></span></a--> <span class="summary-total">15,001 lbs of CO2e/yr</span></h2>
<div class="us-table">
	<table cellspacing="0" cellpadding="0" width="280" border="0">
		<tr>
			<td width="40%" class="bg-peach"></td>
			<td width="20%" class="bg-green"></td>
			<td width="30%" class="bg-dark-blue"></td>
			<td width="10%" class="bg-light-blue"></td>
		</tr>
	</table>
</div>

<div data-region="graphs"></div>

<div data-region="emissions"></div>

<div class="total">
	<h2 id="total-title" class="bold">Total</h2>
	<div>Your carbon footprint is <span class="bold">{{totalEmissions}} lbs of CO2e</span>. That's equivalent to 1.75 hot air balloons. Offset @ $5.95 per 1,000lbs/yr.</div>
	<form name="ind_summary_view">
		<div class="form-element">
			<select class="form-control">
				<optgroup label="Annual Offsets">
					<option value="">Offset All for $9.08/yr</option>
					<option value="">Offset Vehicle for $10.49/yr</option>
					<option value="">Offset Public Transit for $10.49/yr</option>
					<option value="">Offset Travel for $10.49/yr</option>
					<option value="">Offset Home Energy for $10.49/yr</option>
				</optgroup>
				<optgroup></optgroup>
				<optgroup label="Monthly Offsets">
					<option selected="selected" value="">Offset All for $9.08/mo</option>
					<option value="">Offset Vehicle for $10.49/mo</option>
					<option value="">Offset Public Transit for $10.49/mo</option>
					<option value="">Offset Travel for $10.49/mo</option>
					<option value="">Offset Home Energy for $10.49/mo</option>
				</optgroup>
				<optgroup></optgroup>
				<optgroup label="Offset Products for Individuals">
					<option selected="selected" value="">Offset 1000lbs for $9.08</option>
					<option value="">Offset Monthly for $10.49/mo</option>
				</optgroup>
			</select>
		</div>
		<div class="form-element"><button type="button" id="buyBtn" class="btn btn-lg  {{calculatorSlug}}-{{categorySlug}}-bg">Buy Offsets</button></div>
	</form>
</div>
