<p><button class="btn calculator-start-btn btn-lg bg-light-blue" data-calc="individual">Individual Calculator</button></p>
<p><button class="btn calculator-start-btn btn-lg bg-peach" data-calc="business">Business Calculator</button></p>
<p><button class="btn calculator-start-btn btn-lg bg-green" data-calc="events">Events Calculator</button></p>
