<h1>Choose a Calculator</h1>
<ul>
<li><a href="/#/d/individual">Individual Calculator</a></li>
<li><a href="/#/d/business">Business Calculator</a></li>
<li><a href="/#/d/events">Events Calculator</a></li>
</ul>