



  <!-- Modal -->
<div class="modal fade" id="methodologyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Our Methodology</h4>
      </div>
      <div class="modal-body">

        <a name="default"></a><h3>Sources:</h3> 
        <p>Environmental Protection Agency • fueleconomy.gov • World Resources Institute • Commercial Buildings Energy Consumption Survey • Department of Energy • Beverage Industry Environmental Roundtable • Johns Hopkins Center for a Livable Future • </p> 

        <p>Wherever possible, we use established emissions factors and protocols from expert sources:</p>
        <ul>
        <li>World Resources Institute provides greenhouse gas protocols for all common modes of transportation.</li>
        <li>The EPA and Bureau of Transportation Statistics provide helpful data on vehicle efficiency in the US.</li>
        <li>The EPA provides data on the carbon intensity of regional electricity production through its eGRID database. The Department of Energy also compiles statistics on regional carbon intensity.</li>
        </ul>
        <p>Where standard figures don't exist, we rely on industry surveys to inform our assumptions about average energy consumption from various activities.</p>

        <p>Our online calculator is only meant to provide an estimate. It is designed to be as accurate as possible while still being easy to use. It is not a substitute for a full energy audit. In our experience, the results from our online calculator generally map quite well to more sophisticated analysis methods, but the calculator does rely on a number of assumptions about average emissions factors. If those assumptions don't accurately describe your lifestyle, business or event, the calculator may not yield reliable results for you. You can contact us at support@terrapass.com for more information or assistance.</p>

        <!-- Business Calculator Methodology -->
        <a name="business-site"></a><h3>Site</h3>
        <p>We estimate emissions associated with building energy use (heating, air conditioning, lighting, etc.) by looking at your location and the amount of energy consumed. If you don’t know how much energy you use at your site, we can determine that from the amount of your utility bill.</p> 

        <p>Your geography determines two things: the source of your electricity, and your seasonal patterns of energy consumption. For example, some regions of the country use a heavier mix of renewable sources to produce electricity. Regions with more extreme weather use more energy for temperature control.</p>

        <a name="business-server"></a><h3>Server</h3>
        <p>Servers are the big computers companies use to power their web sites, store sensitive data, and run ecommerce applications. Computers are highly energy-intensive. In the U.S., computer data centers are responsible for about 1.5% of our electricity use, a figure that is growing rapidly.</p>

        <p>If your company doesn't have a large internet presence, computer data centers won't make up a significant portion of your carbon footprint. If you run a large-scale consumer web site, on the other hand, you're probably already aware of how high your utility bills are.</p>

        <p>For companies with large-scale web sites, we estimate your footprint using information about the location of your data center and the approximate size (in number of servers). For others, we add a small constant emissions factor to your footprint.</p>

        <a name="business-fleet"></a><h3>Fleet</h3> 
        <p>Estimating emissions from company-owned vehicles is fairly easy. We just multiply the number of vehicles by the miles driven and the average fuel economy.</p>

        <p>Because precise fuel economy numbers can be hard to come by, we just ask you for the number of vehicles in various vehicle classes. For each class, we use an average fuel economy figure.</p>

        <a name="business-travel"></a><h3>Travel</h3>
        <p>Employee travel can create emissions in a number of ways, but one overshadows all the others: plane travel. Our travel emissions calculator works by multiplying the number of employees who travel by the average number of trips they take each year. Using assumptions about the distance of a typical business trip, we assign emissions factors to various trip types.</p>

        <p>Hotels are also sources of emissions, due to the energy needed to heat, cool, and light the rooms. Relatively speaking, these emissions are modest, but they can add up if you have a large traveling workforce.</p>

        <a name="business-commute"></a><h3>Commute</h3>
        <p>Calculating employee commutes is similar to that for company-owned vehicles. By multiplying the number of commuting employees by the average commute distance and assigning an emissions factor for different vehicle types, we can come up with a good estimate for emissions from employee commutes.</p>

        <a name="business-shipping"></a><h3>Shipping</h3>
        <p>We calculate your shipping footprint by looking at how much and how far you ship. Based on the freight type, we apply World Resource Institute’s (WRI) emission factors to figure out the total impact of your business shipments.</p> 

      </div>
      <div class="modal-footer">
        {{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
      </div>
    </div>
  </div>
</div>