



  <!-- Modal -->
<div class="modal fade" id="methodologyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Our Methodology</h4>
      </div>
      <div class="modal-body">

        <a name="default"></a><h3>Sources:</h3> 
        <p>Environmental Protection Agency • fueleconomy.gov • World Resources Institute • Commercial Buildings Energy Consumption Survey • Department of Energy • Beverage Industry Environmental Roundtable • Johns Hopkins Center for a Livable Future • </p> 

        <p>Wherever possible, we use established emissions factors and protocols from expert sources:</p>
        <ul>
        <li>World Resources Institute provides greenhouse gas protocols for all common modes of transportation.</li>
        <li>The EPA and Bureau of Transportation Statistics provide helpful data on vehicle efficiency in the US.</li>
        <li>The EPA provides data on the carbon intensity of regional electricity production through its eGRID database. The Department of Energy also compiles statistics on regional carbon intensity.</li>
        </ul>
        <p>Where standard figures don't exist, we rely on industry surveys to inform our assumptions about average energy consumption from various activities.</p>

        <p>Our online calculator is only meant to provide an estimate. It is designed to be as accurate as possible while still being easy to use. It is not a substitute for a full energy audit. In our experience, the results from our online calculator generally map quite well to more sophisticated analysis methods, but the calculator does rely on a number of assumptions about average emissions factors. If those assumptions don't accurately describe your lifestyle, business or event, the calculator may not yield reliable results for you. You can contact us at support@terrapass.com for more information or assistance.</p>

        <!-- Events Calculator Methodology-->

        <a name="travel"></a><h3>Travel</h3>
        <p><i><strong>Air travel to the event</strong></i><br />
        For most events, this is by far the most important category of emissions. Planes burn a lot of fuel, and these days many events bring together people from all over the country or even the world.</p>

        <p><i><strong>Car travel to the event</strong></i><br />
        When attendees drive to your event, they will collectively burn a modest amount of gasoline getting there.</p>

        <p><i><strong>Hotel stays</strong></i><br />
        Hot showers, lighting, and air conditioning all require electricity. For many events, this energy use can add up.</p>

        <a name="venue"></a><h3>Venue</h3>
        <p>Hotels and event venues are sources of emissions, due to the energy needed to heat, cool, and light the rooms. We estimate emissions associated with building energy use (heating, air conditioning, lighting, etc.) by looking at your event’s location and the amount of energy consumed. Then we use the data collected in the Commercial Buildings Energy Consumption Survey (CBECS) by the Energy Information Administration (EIA) to calculate the emissions associated with using the site for your event. </p>

        <a name="water"></a><h3>Water</h3>
        <p>Water bottles are a huge source of waste in the events industry. We encourage you to work with the event venue to find other ways to serve water to your guests. For those events that need to use water bottles, we calculate the carbon footprint of these water bottles with an emission factor from the Beverage Industry Environmental Roundtable.</p>

        <a name="meals"></a><h3>Meals</h3>
        <p>Food consumption can have a big impact on the environment. The food you choose to serve at your event makes a difference, too—vegetarian meals have a lower impact than meals containing meat. We use a study from the Johns Hopkins Center for a Livable Future that looks at the measurement and communication of greenhouse gas emissions from U.S. food consumption.</p>

        <p>If you’re interested in learning more about the carbon footprint of a meal, check out the study we did with Lucky Peach to determine the climate impact of eating at home versus eating out at a restaurant.</p> 

      </div>
      <div class="modal-footer">
        {{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
      </div>
    </div>
  </div>
</div>