<div data-region="test"></div>
<div id="calculator-container">
	<div id="col-nav" data-region="menu"></div>
	<div id="col-content">
		<header data-region="header"></header>
		<div data-region="methodology"></div>
		<div data-region="main"></div>
		<footer data-region="footer"></footer>
	</div>
	<div id="col-summary" data-region="summary"></div>
</div>