<img id="welcome-logo" src="img/tp-logo-white-500x298.png">
<p id="logo-subtitle">CARBON CALCULATOR</p>
<p><a href="/#/individual" class="btn calculator-start-btn btn-lg bg-dark-blue" data-calc="individual">Individual Calculator</a></p>
<p><a href="/business-calculator-gate.html" class="btn calculator-start-btn btn-lg bg-green">Business Calculator</a></p>
<p><a href="/events-calculator-gate.html" class="btn calculator-start-btn btn-lg bg-light-blue">Events Calculator</a></p>
