<div class="view-question">Please provide your total number of employees and describe their average annual travel.</div>
	
	<div class="form-element-container padding-top-10">
		<label for="num_employees">How many employees travel annually?</label>
		<div class="form-element">
			<input type="text" name="num_employees" class="form-control" maxlength="7" value="0" />
		</div>
	</div>

	<div class="form-element-container">
		<label for="short_haul">Average number of <span class="dark-gray">short haul flights</span> per employee ( <span class="note dark-gray">&lt; 2 hours</span> )</label>
		<div class="form-element">
			<input type="text" name="short_haul" class="form-control" maxlength="7" value="0" />
		</div>
	</div>

	<div class="form-element-container">
		<label for="med_haul">Average number of <span class="dark-gray">medium haul flights</span> per employee ( <span class="note dark-gray">2-4 hours</span> )</label>
		<div class="form-element">
			<input type="text" name="med_haul" class="form-control" maxlength="7" value="0" />
		</div>
	</div>

	<div class="form-element-container">
		<label for="long_haul">Average number of <span class="dark-gray">long haul flights</span> per employee ( <span class="note dark-gray">&gt; 4 hours</span> )</label>
		<div class="form-element">
			<input type="text" name="long_haul" class="form-control" maxlength="7" value="0" />
		</div>
	</div>