<div class="view-question">Tell us about the boats in your fleet</div>
	<div class="form-element-container">
		<label for="fuel_type">Fuel type</label>
		<div class="form-element">
			<select name="fuel_type" class="form-control">
				<option value="diesel">Diesel</option>
				<option value="residual_fuel_oil">Residual Fuel Oil</option>
			</select>
		</div>
		<label for="fuel_qty">Annual Gallons of Fuel</label>
		<div class="form-element">
			<input name="fuel_qty" class="form-control" value="0" maxlength="12" />
		</div>
	</div>