<div class="view-question">Please provide your total number of employees and describe their average annual travel.</div>
	<form name="biz_travel_employee_view" id="biz_travel_employee">
		<div class="form-element-container padding-top-10">
			<label for="biz_travel_employee_number">How many employees travel annually?</label>
			<div class="form-element">
				<input type="text" name="biz_travel_employee_number" class="form-control" maxlength="7" />
			</div>
		</div>

		<div class="form-element-container">
			<label for="biz_travel_employee_short_haul">Average number of <span class="dark-gray">short haul flights</span> per employee<br />( <span class="note dark-gray">&lt; 2 hours</span> )</label>
			<div class="form-element">
				<input type="text" name="biz_travel_employee_short_haul" class="form-control" maxlength="7" />
			</div>
		</div>

		<div class="form-element-container">
			<label for="biz_travel_employee_medium_haul">Average number of <span class="dark-gray">medium haul flights</span> per employee<br />( <span class="note dark-gray">2-4 hours</span> )</label>
			<div class="form-element">
				<input type="text" name="biz_travel_employee_medium_haul" class="form-control" maxlength="7" />
			</div>
		</div>

		<div class="form-element-container">
			<label for="biz_travel_employee_long_haul">Average number of <span class="dark-gray">long haul flights</span> per employee<br />( <span class="note dark-gray">&gt; 4 hours</span> )</label>
			<div class="form-element">
				<input type="text" name="biz_travel_employee_long_haul" class="form-control" maxlength="7" />
			</div>
		</div>

	</form>
