<div class="view-question">To calculate annual metric tons of emissions from shipping, please enter the following values</div>
<div class="biz-shipping-table-container">
   <table class="table biz-shipping-table">
      <tr>
      	<th class="first-cell"></th>
      	<th><strong>Air Cargo</strong></th>
      	<th><strong>Truck</strong></th>
      	<th><strong>Train</strong></th>
      </tr>
      <tr>
      	<td class="first-cell">Number of Shipments</td>
      	<td ><input name="air_shipments" class="form-control numeric" value="0" maxlength="8" /></td>
      	<td><input name="truck_shipments" class="form-control numeric" value="0" maxlength="8" /></td>
      	<td><input name="train_shipments" class="form-control numeric" value="0" maxlength="8" /></td>
      </tr>
      <tr>
      	<td class="first-cell">Average shipping distance (miles)</td>
      	<td><input name="air_distance" class="form-control numeric" value="0" maxlength="8" /></td>
      	<td><input name="truck_distance" class="form-control numeric" value="0" maxlength="8" /></td>
      	<td><input name="train_distance" class="form-control numeric" value="0" maxlength="8" /></td>
      </tr>
      <tr>
      	<td class="first-cell">Average shipment weight (lbs)</td>
      	<td><input name="air_weight" class="form-control numeric" value="0" maxlength="8" /></td>
      	<td><input name="truck_weight" class="form-control numeric" value="0" maxlength="8" /></td>
      	<td><input name="train_weight" class="form-control numeric" value="0" maxlength="8" /></td>
      </tr>
   </table>
</div>





