<div class="view-question">Select a type of fleet vehicle to add</div>

<div class="form-element-container">
	<label for="vehicle_type">Vehicle Type</label>
	<div class="form-element">
		<select class="form-control" name="vehicle_type">
			<option value="car">Cars</option>
			<option value="truck">Pick-Ups / Vans / SUVs</option>
			<option value="deliveryTruck">Delivery Trucks</option>
			<option value="semi">Semi - Trailer</option>
			<option value="boat">Boats</option>
			<option value="ecar">Electric Cars</option>
			{{!-- <option value="plane">Planes</option> --}}
		</select>
	</div>
</div>