<div class="view-question">Please describe employee round-trip commute distance by providing the total miles for each method.</div>
		
		<form name="biz_commute_view" id="biz_commute">

			<label>Number of employees and round-trip commute distance by transportation type</label>
			<div class="form-element-container padding-top-10">
				<div class="form-element">
					<span class="bold inline-block w40">Train: </span>&nbsp;
					<input type="text" name="biz_commute_train_employees" value="0" size="8" maxlength="6" class="inline-block numeric-big text-right form-control" />&nbsp;
					people commute&nbsp;
					<input type="text" name="biz_commute_train_mileage" value="0" size="8" maxlength="6" class="inline-block numeric-big text-right form-control" />&nbsp;
					miles
				</div>
			</div>

			<div class="form-element-container">
				<div class="form-element">
					<span class="bold inline-block w40">Car: </span>&nbsp;
					<input type="text" name="biz_commute_car_employees" value="0" size="8" maxlength="6" class="inline-block numeric-big text-right form-control" />&nbsp;
					people commute&nbsp;
					<input type="text" name="biz_commute_car_mileage" value="0" size="8" maxlength="6" class="inline-block numeric-big text-right form-control" />&nbsp;
					miles
				</div>
			</div>

			<div class="form-element-container">
				<div class="form-element">
					<span class="bold inline-block w40">Bus: </span>&nbsp;
					<input type="text" name="biz_commute_bus_employees" value="0" size="8" maxlength="6" class="inline-block numeric-big text-right form-control" />&nbsp;
					people commute&nbsp;
					<input type="text" name="biz_commute_bus_mileage" value="0" size="8" maxlength="6" class="inline-block numeric-big text-right form-control" />&nbsp;
					miles
				</div>
			</div>

			<div class="form-element-container">
				<div class="form-element">
					<span class="bold inline-block w40">Taxi: </span>&nbsp;
					<input type="text" name="biz_commute_taxi_employees" value="0" size="8" maxlength="6" class="inline-block numeric-big text-right form-control" />&nbsp;
					people commute&nbsp;
					<input type="text" name="biz_commute_taxi_mileage" value="0" size="8" maxlength="6" class="inline-block numeric-big text-right form-control" />&nbsp;
					miles
				</div>
			</div>

			<div class="form-element-container">
				<div class="form-element">
					<span class="bold inline-block w40">Ferry: </span>&nbsp;
					<input type="text" name="biz_commute_ferry_employees" value="0" size="8" maxlength="6" class="inline-block numeric-big text-right form-control" />&nbsp;
					people commute&nbsp;
					<input type="text" name="biz_commute_ferry_mileage" value="0" size="8" maxlength="6" class="inline-block numeric-big text-right form-control" />&nbsp;
					miles
				</div>
			</div>

		</form>