<div class="view-question">Tell us about the boats in your fleet</div>
	<div class="form-element-container">
		<label for="fuel_qty">Annual Gallons of Fuel</label>
		<div class="form-element">
			<input name="fuel_qty" class="form-control" value="0" maxlength="12" />
		</div>
	</div>

	<div class="form-element-container">
		<label for="use_rfi">Use RFI:</label>
		<div class="form-element margin-bottom-20">
			<input type="checkbox" name="use_rfi" value="one_way" />Yes
		</div>
	</div>

	<div class="form-element-container">
		<label for="num_vehicles">Number of Planes in fleet</label>
		<div class="form-element">
			<input name="num_vehicles" class="form-control" value="0" maxlenght="6" />
		</div>
	</div>
