<div class="view-question">Tell us about your business' servers</div>
<div class="form-element-container">
  <label for="zip" data-error-msg="Please enter a valid zipcode" data-default-label="Where are your servers located (zipcode)">Where are your servers located (zipcode)</label>
  <div class="form-element">
    <input type="text" name="zip" class="form-control" />
  </div>
</div>

<div class="form-element-container">
  <label for="num_servers" data-error-msg="How many servers does your business have?" data-default-label="How many servers does your business have?">How many servers does your business have?</label>
  <div class="form-element">
    <input type="text" name="num_servers" value="0" class="inline-block numeric text-right form-control" />
  </div>
</div>
