<div class="view-question">Tell us about the electric cars in your fleet</div>
	
	<div class="form-element-container">
		<label for="num_vehicles" data-error-msg="Enter the number of ecars in your fleet" data-default-label="Numbe of vehicles">Number of vehicles</label>
		<div class="form-element">
			<input name="num_vehicles" value="0" class="form-control" maxlength="6" />
		</div>
	</div>

	<div class="form-element-container">
		<label for="zip" data-error-msg="Enter the zipcode of the fleet" data-default-label="Zip Code">Zip Code</label>
		<div class="form-element">
			<input name="zip" class="form-control" maxlength="10" />
		</div>
	</div>

