<div class="view-question">Here are the vehicles that make up your fleet</div>

<div id="ind-vehicle-list" class="list">
	<ul class="vehicle-list"></ul>
</div>
	
	<label for="vehicle_type">Add another vehicle type</label>
	<div class="form-element">
		<select class="form-control" name="vehicle_type">
			<option value="car">Cars</option>
			<option value="truck">Pick-Ups / Vans / SUVs</option>
			<option value="deliverytruck">Delivery Trucks</option>
			<option value="semi">Semi - Trailer</option>
			<option value="boat">Boats</option>
			<option value="ecar">Electric Cars</option>
			<option value="plane">Planes</option>
		</select>
	</div>
	
<div class="form-element-container">
	<button id="add-vehicle" class="btn btn-sm bg-dark-gray white add"> &nbsp;Add a vehicle type</button>
</div>
