<div class="view-question">Please describe employee round-trip commute distance by providing the total miles for each method.</div>
		
<label>Number of employees and round-trip commute distance by transportation type</label>

<div class="form-element-container">
	<div class="form-element">
		<span class="bold inline-block w40">Car: </span>&nbsp;
		<input type="text" name="car_employees" value="0" size="8" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
		people commute&nbsp;
		<input type="text" name="car_mileage" value="0" size="8" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
		miles
	</div>
</div>

<div class="form-element-container padding-top-10">
	<div class="form-element">
		<span class="bold inline-block w40">Train: </span>&nbsp;
		<input type="text" name="train_employees" value="0" size="8" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
		people commute&nbsp;
		<input type="text" name="train_mileage" value="0" size="8" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
		miles
	</div>
</div>

<div class="form-element-container">
	<div class="form-element">
		<span class="bold inline-block w40">Bus: </span>&nbsp;
		<input type="text" name="bus_employees" value="0" size="8" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
		people commute&nbsp;
		<input type="text" name="bus_mileage" value="0" size="8" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
		miles
	</div>
</div>

<div class="form-element-container">
	<div class="form-element">
		<span class="bold inline-block w40">Taxi: </span>&nbsp;
		<input type="text" name="taxi_employees" value="0" size="8" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
		people commute&nbsp;
		<input type="text" name="taxi_mileage" value="0" size="8" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
		miles
	</div>
</div>

<div class="form-element-container">
	<div class="form-element">
		<span class="bold inline-block w40">Ferry: </span>&nbsp;
		<input type="text" name="ferry_employees" value="0" size="8" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
		people commute&nbsp;
		<input type="text" name="ferry_mileage" value="0" size="8" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
		miles
	</div>
</div>
