<div class="view-question">Choose your preferred method for calculating employee travel for your business</div>
	
<div class="form-element-container padding-top-10">
	<div class="form-element">
		<input type="radio" name="method" value="employee" class="float-left" /> <span class="float-left checkbox-text">Average # of short, medium, and long flights per employee</span>
	</div>
</div>

<div class="clear"></div>

<div class="form-element-container">
	<div class="form-element">
		<input type="radio" name="method" value="miles" class="float-left" /> <span class="float-left checkbox-text">Total miles flown divided by short, medium, and long flights</span>
	</div>
</div>

<div class="clear padding-top-10"></div>

<div class="form-element-container padding-top-10">
<label>Would you like to use the Refractive Forcing Index?<span class="info help" data-toggle="popover" data-content="RFI factors in additional emissions besides carbon that are caused by burning fuel. <a href='http://www.ipcc.ch/' target='_blank'>Learn more from the Intergovernmental Panel on Climate Change</a> (IPCC)."></span></label>
<div class="form-element">
	<input type="radio" name="use_rfi" value="true" /><span class=""> Yes</span><br />
	<input type="radio" name="use_rfi" value="false" class=""/><span class=""> No</span>
</div>
</div>
