<div class="view-question">To calculate metric tons of emissions from freight shipping, pelase enter the following values</div>
<div class="form-element-container">
	<label for="shipments" data-error-msg="Number of annual shipments" data-default-label="Number of annual shipments">Number of annual shipments</label>
	<div class="form-element">
		<input name="shipments" class="form-control" value="0" maxlength="12" />
	</div>
</div>

<div class="form-element-container">
	<label for="distance" data-error-msg="Average shipping distance" data-default-label="Average shipping distance">Average shipping distance</label>
	<div class="form-element">
		<input name="distance" class="form-control" value="0" maxlength="12" />
	</div>
</div>

<div class="form-element-container">
	<label for="weight" data-error-msg="Average weight of shipments (lbs)" data-default-label="Average weight of shipments (lbs)">Average weight of shipments (lbs)</label>
	<div class="form-element">
		<input name="weight" class="form-control" value="0" maxlenght="15" />
	</div>
</div>
