<div class="view-question">Tell us about the electric cars in your fleet</div>
	<div class="form-element-container">
		<label for="biz_fleet_ecar_quantity">Number of vehicles</label>
		<div class="form-element">
			<input name="biz_fleet_ecar_quantity" value="0" class="form-control" maxlength="6" />
		</div>
	</div>

	<div class="form-element-container">
		<label for="biz_fleet_ecar_zip">Zip Code</label>
		<div class="form-element">
			<input name="biz_fleet_ecar_zip" class="form-control" maxlength="10" />
		</div>
	</div>

