<div class="view-question">Add some information about attendee accommodations</div>

<div class="form-element-container">
	<label for="zip" data-error-msg="Enter a valid zip code" data-default-label="Zip Code">Zip Code</label>
	<div class="form-element">
		<input name="zip" class="form-control" maxlength="11" />
	</div>
</div>

<div class="form-element-container">
	<label for="attendees" data-error-msg="Enter the number of attendees staying at hotels" data-default-label="Number of attendees staying at hotels">Number of attendees staying at hotels</label>
	<div class="form-element">
		<input name="attendees" value="0" class="form-control" maxlength="8" />
	</div>
</div>

<div class="form-element-container">
	<label for="nights" data-error-msg="Number of nights, on average" data-default-label="Number of nights, on average">Number of nights, on average</label>
	<div class="form-element">
		<input name="nights" value="0" class="form-control" maxlength="3" />
	</div>
</div>

