<div class="view-question">Add your event's attendee flight information by flight length</div>
		
<label>Attendees arrived on ...</label>
<div class="form-element-container padding-top-10">
	<div class="form-element-container">
		<div class="form-element">
			<input type="text" name="short_flights" value="0" size="4" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
			<span class="bold">Short Haul</span> flights <span class="display-error"></span>
		</div>
	</div>
</div>

<div class="form-element-container padding-top-10">
	<div class="form-element-container">
		<div class="form-element">
			<input type="text" name="med_flights" value="0" size="4" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
			<span class="bold">Medium Haul</span> flights <span class="display-error"></span>
		</div>
	</div>
</div>

<div class="form-element-container padding-top-10">
	<div class="form-element-container">
		<div class="form-element">
			<input type="text" name="long_flights" value="0" size="4" maxlength="6" class="inline-block numeric text-right form-control" />&nbsp;
			<span class="bold">Long Haul</span> flights <span class="display-error"></span>
		</div>
	</div>
</div>
