<div class="view-question">Let's capture the carbon footprint of the bottled water used at your event</div>
<div class="form-element-container">
	<label for="bottles" data-error-msg="Estimated water bottles used" data-default-label="Estimated water bottles used">Estimated water bottles used</label>
	<div class="form-element">
		<input name="bottles" value="0" class="form-control" maxlength="12" />
	</div>
</div>
