<div class="view-question">Add your event's attendee flight information by flight length</div>
		
		<form name="evt_travel_flight_length_view" id="evt_travel_flight_length">

			<label>Attendees arrived on ...</label>
			<div class="form-element-container padding-top-10">
				<div class="form-element-container">
					<div class="form-element">
						<input type="text" name="evt_travel_short_flights" value="0" size="4" maxlength="3" class="inline-block numeric text-right form-control" />&nbsp;
						<span class="bold">Short Haul</span> flights
					</div>
				</div>
			</div>

			<div class="form-element-container padding-top-10">
				<div class="form-element-container">
					<div class="form-element">
						<input type="text" name="evt_travel_medium_flights" value="0" size="4" maxlength="3" class="inline-block numeric text-right form-control" />&nbsp;
						<span class="bold">Medium Haul</span> flights
					</div>
				</div>
			</div>

			<div class="form-element-container padding-top-10">
				<div class="form-element-container">
					<div class="form-element">
						<input type="text" name="evt_travel_long_flights" value="0" size="4" maxlength="3" class="inline-block numeric text-right form-control" />&nbsp;
						<span class="bold">Long Haul</span> flights
					</div>
				</div>
			</div>

		</form>

