<h1>Thank You!</h1>
<p>Thanks for taking the step towards lowering your carbon footprint.  Check out your carbon profile to the right and don't forget to offset your carbon footprint at Terrapass.com</p>
<p>Carbon offsets fund programs that help reduce and fight carbon emissions around the world.  By purchasing carbon offsets with Terrapass, your help will positively change communities around the United States.</p>


<div class="form-element-container send-results">
  <label for="email" data-error-msg="Enter a valid email" data-default-label="Where should we send your full results?">Where should we send your full results?</label>
  <div class="form-element">
    <input name="email" value="Your Email" class="form-control" maxlength="30" />
  </div>
  <div class="form-element">
    <button type="button" id="send-results-btn" class="btn btn-primary">Send my full results </button>
  </div>
</div>


<p id="thankyou-message">Your report will be emailed to you shortly.</p>
