<div class="view-question">Choose your preferred method for calculating attendee flight travel to your event</div>
		
<div class="form-element-container padding-top-10">
	<div class="form-element margin-bottom-20">
		<input type="radio" name="method" value="length" class="float-left" /> <span class="float-left checkbox-text">Calculate over small, medium, and long flight distances</span>
	</div>
</div>

<div class="clear"></div>

<div class="form-element-container">
	<div class="form-element">
		<input type="radio" name="method" value="average" class="float-left" /> <span class="float-left checkbox-text">Calculate by average attendee flight distance</span>
	</div>
</div>

<div class="clear padding-top-10"></div>

<div class="form-element-container padding-top-10">
	<label>Would you like to use the Refractive Forcing Index?</label>
	<div class="form-element">
		<input type="radio" name="use_rfi" value="true" /><span class=""> Yes</span><br />
		<input type="radio" name="use_rfi" value="false" class=""/><span class=""> No</span>
	</div>
</div>


